body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    line-height: 1.6;
}
#title1{
    color: #28a745;
}

.container {
    margin: 1 cm;
    padding: 0 20px;
    align-items: center;
}

nav {
    background-color: #333;
    overflow: hidden; 
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display:flex;
    justify-content: center;
}

nav li {
    display: inline-block;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #ddd;
    color: black;
}


h1.page-title {
    text-align: center;
    color: #444;
}


.full-width-paragraph {
    text-align: justify;
    margin-bottom: 30px;
    margin-top: 1cm;
    margin-bottom: 1cm;
    font-style: italic;
}

.columns-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; 
}

.column {
    flex-grow: 1;
    flex-basis: 300px; 
    background: #ffffff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.column h3 {
    color: #333;
}
footer a{
    color: darkgreen;
}

footer a:hover {
    background-color: blue;
}

#title2{
    margin-top: 1cm;
}

.data-table {
    width: 60%;
    margin: 30px auto;
    border-collapse: collapse; 
}

.data-table th, .data-table td {
    border: 1px solid black; 
    padding: 10px;
    text-align: left;
}

.data-table thead th {
    background-color: black;
    color: white;
}


.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1cm; 
    margin-top: 30px;
}

.gallery a {
    display: block; 
}

.gallery img {
    width: 250px;
    height: 250px;
    object-fit: cover; 
    border: 4px solid #555; 
}

/* Task 4 */
.contact-form {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input[type="text"],
.contact-form input[type="email"],
.contact-form select {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.contact-form input[type="text"],
.contact-form input[type="email"] {
    background-color: #e0f0ff; 
}

.btn {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    margin-right: 10px;
}

.btn {
    background-color: #ff9933; 
}


.author-list {
    list-style-type: upper-alpha; 
    border: 2px solid #333;
    padding: 30px 30px 30px 60px;
    margin: 30px auto;
    max-width: 500px;
    background: #fff;
}

.author-list li {
    font-weight: bold; 
    margin-bottom: 10px;
}

.links-section {
    text-align: center;
    margin-top: 20px;
}

.links-section a {
    display: block;
    margin: 10px;
    font-size: 1.1em;

}
